
*.csv

*.tmp

scripts/catboost_info/

scripts/aggregations.ipynb

scripts/2nd_task/Untitled.ipynb

scripts/2nd_task/catboost_info/

scripts/.ipynb_checkpoints/

*.zip

scripts/2nd_task/.ipynb_checkpoints/Untitled-checkpoint.ipynb

scripts/2nd_task/.ipynb_checkpoints/2nd_task_solution-checkpoint.ipynb
